#leleleleleleleleloeleleleleleopele {
    position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

h1 {
font-style: oblique;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-weight: lighter;
}

h4 {
    font: message-box;
    font-variant: small-caps;
    font-size: xx-large;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
    padding: 25px;
    box-shadow: 25px;
}